* {
	line-height: 140%;
	@apply outline-none;
}

html {
	font-weight: 300;
}

@keyframes bounceDownAbsolute {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateX(-50%) translateY(0);
	}
	40% {
		transform: translateX(-50%) translateY(15px);
	}
	60% {
		transform: translateX(-50%) translateY(7.5px);
	}
}

@keyframes bounceDown {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(15px);
	}
	60% {
		transform: translateY(7.5px);
	}
}

.text-title {
	@apply text-2xl xl:text-4xl font-black;
}
.text-title-sm {
	@apply text-xl xl:text-2xl font-bold;
}
.text-title-lg {
	@apply text-3xl xl:text-6xl font-black leading-tight;
}
.text-title-prefix {
	@apply font-semibold mb-2;
}

strong {
	@apply font-bold;
}

.typo {
	@apply text-base xl:text-xl;
	p {
		margin-bottom: 0.75em;
	}
	a {
		@apply text-center decoration-accent underline hover:text-accent;
		text-underline-offset: 0.3em;
		text-decoration-thickness: 2px;
	}
	h2,
	h3,
	h4 {
		@apply font-bold text-xl xl:text-2xl;
		margin-bottom: 1em;
	}
}

.has-svg {
	svg {
		@apply text-current h-full;
		[stroke] {
			@apply stroke-current;
		}
		[fill] {
			@apply fill-current;
		}
		:not([stroke]):not([fill]) {
			@apply fill-current;
		}
	}
}

a {
	@apply transition-all;
}

.logos-slider {
	pointer-events: none;
	& .swiper-wrapper {
		-webkit-transition-timing-function: linear !important;
		-o-transition-timing-function: linear !important;
		transition-timing-function: linear !important;
	}

	& .swiper-slide {
		filter: grayscale(1);
	}
}

.special {
	@apply inline-flex relative overflow-hidden;

	&:after {
		content: "";
		@apply absolute bottom-0 h-full w-full left-0 opacity-100 bg-accent;
		animation: special 4s ease-in-out infinite;
	}

	span {
		@apply relative z-10;
	}
}

@keyframes special {
	0% {
		@apply -translate-x-full;
	}
	5% {
		@apply translate-x-0;
	}
	50% {
		@apply translate-x-0;
	}
	55% {
		@apply translate-x-full;
	}
	100% {
		@apply translate-x-full;
	}
}

.cursor {
	animation: blink-caret 1s steps(1) infinite;
}

@keyframes blink-caret {
	50% {
		opacity: 0;
	}
}
